HOST_ADDRESS=https://example.com
KNOWLEDGE_ENGINE_CONTAINER_NAME=knowledge-engine-jh # has to match docker ngninx default.conf!
KNOWLEDGE_ENGINE_PORT=8280
KE_RUNTIME_EXPOSED_URL=${HOST_ADDRESS}/knowledge-engine-inter-ker
KE_USER=YOUR_KE_USER
KE_PASS=YOUR_KE_PASS
GRAPHDB_EXTERNAL_URL=${HOST_ADDRESS}/graphdb/
